// 实现轮播图
.slider{
  margin:0;
  padding:0;
  margin-top:10px;
  height:460px;
  width: 1226px;
  position: relative;
  input{
    display: none;
  }
  img{
    height:460px;
    width: 1226px;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    transition:.4s;
  }
}

.container{
  margin:auto;
  padding:0;
  margin-top:10px;
  height:460px;
  width: 1226px;
  position: relative;
}
.item {
  height:10px;
  width:100px;
  position: absolute;
  bottom: 25px;
  right:33px;
  xbackground-color:red;
  label{
  height:10px;
  width:10px;
  border-radius: 10px;
  margin-left:7px ;
  background-color:rgb(111,111,111);
  background-origin: border-box;
  display: block;
  float: left;
  }
}
.arrow-L label{
  height:70px;
  width:42px;
  position: absolute;
  top: 195px;
  left:230px;
  background:url(img/icon-slides.png) no-repeat 67% 0;
  display:none;
  &:hover{
    background-position: 0 0;
  }
}
.arrow-R label{
  height:70px;
  width:42px;
  position: absolute;
  top: 195px;
  right:0px;
  background:url(img/icon-slides.png) no-repeat 100% 0;
  display: none;
  &:hover{
    background-position: 33% 0;
  }
}

input:checked + img{
  opacity: 1;
}

input:nth-child(1):checked ~ div >label:nth-child(1){
  display: block;
}
input:nth-child(2):checked ~ div> label:nth-child(2){
  display: block;
}
input:nth-child(3):checked ~ div >label:nth-child(3){
  display: block;
}
input:nth-child(4):checked ~ div> label:nth-child(4){
  display: block;
}
input:nth-child(5):checked ~ div >label:nth-child(5){
  display: block;
}




